[submodule "SubModule1"]
	path = SubModule1
	url = https://github.com/djordje-mmilovanovic/SubModule1.git
[submodule "SubModule2"]
	path = SubModule2
	url = https://github.com/djordje-mmilovanovic/SubModule2.git
